<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
        {% for d in dropdown_items %}
            <a href={{ plink + d}}>{{ d }}</a>
        {% endfor %}
    </div>
</div>