<title>Origami</title>
{% if data %}
    <script>data = {{data | safe}}</script>
{% endif %}
<link rel="stylesheet" type="text/css" href="button.css">
<link rel="stylesheet" type="text/css" href="slider.css">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="origami.css">
<script src="https://threejs.org/build/three.min.js"></script>
<script src="/scripts/origami-simulator/tests/js/trackballcontrols.js"></script>
<script src="https://edemaine.github.io/fold/dist/fold.js"></script>
<script src="https://unpkg.com/earcut@2.1.5/dist/earcut.min.js"></script>
<script src="https://threejs.org/examples/js/loaders/SVGLoader.js"></script>
<script src="/scripts/origami-simulator/origami-simulator.js"></script>
<div></div>
<script src="/scripts/rabbit-ear/rabbit-ear.js"></script>
{% if script %}
    <script src={{script}}></script>
{% endif %}
{% if dropdown_items %}
    <link rel="stylesheet" href="/dropdown.css">
    <script src="/dropdown.js"></script>
    {% include "dropdown.njk" %}
{% endif %}